<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean class="com.mrroman.springgames.service.ConsolePlayerPresenter">
		<property name="consoleUtils" ref="consoleUtils"/>
	</bean>
	
	<bean id="consoleUtils" class="com.mrroman.springgames.utils.ConsoleUtils"></bean>
	<bean id="hashUtils" class="com.mrroman.springgames.utils.HashUtils"></bean>
	<bean id="swingUtils" class="com.mrroman.springgames.utils.SwingUtils"></bean>
		
</beans>